CMDBEditorExtension/plugins/com.ibm.ccl.soa.deploy.cmdb.doc/sdk/schema/com/collation/platform/model/topology/app/j2ee/websphere/WebSphereProcessDefinition.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:www-collation-com:1.0"
        xmlns="urn:www-collation-com:1.0"
        xmlns:coll="urn:www-collation-com:1.0"
        elementFormDefault="qualified" version="1.0">
  <xsd:include schemaLocation="../../../../../../../../com/collation/platform/model/topology/core/LogicalElement.xsd"/>
  <xsd:include schemaLocation="../../../../../../../../com/collation/platform/model/topology/app/j2ee/websphere/WebSphereJVMSettings.xsd"/>
  <xsd:include schemaLocation="../../../../../../../../com/collation/platform/model/topology/app/j2ee/websphere/WebSphereProcessMonitoringPolicy.xsd"/>
  <xsd:include schemaLocation="../../../../../../../../com/collation/platform/model/topology/app/j2ee/websphere/WebSphereServer.xsd"/>
  <xsd:complexType name="com.collation.platform.model.topology.app.j2ee.websphere.WebSphereProcessDefinition">
    <xsd:complexContent>
      <xsd:extension base="coll:com.collation.platform.model.topology.core.LogicalElement">
        <xsd:sequence>
          <xsd:element name="parent" type="coll:com.collation.platform.model.topology.app.j2ee.websphere.WebSphereServer" nillable="true" minOccurs="0"/>
          <xsd:element name="JVMSettings" type="coll:com.collation.platform.model.topology.app.j2ee.websphere.WebSphereJVMSettings" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="executableName" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="executableArguments" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="workingDirectory" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="executableTargetKind" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="executableTarget" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="processPriority" type="xsd:int" nillable="true" minOccurs="0"/>
          <xsd:element name="umask" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="runAsUser" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="runAsGroup" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="runInProcessGroup" type="xsd:int" nillable="true" minOccurs="0"/>
          <xsd:element name="stdinFilename" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="stdoutFilename" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="stderrFilename" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="monitoringPolicy" type="coll:com.collation.platform.model.topology.app.j2ee.websphere.WebSphereProcessMonitoringPolicy" nillable="true" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
