CMDBEditorExtension/plugins/com.ibm.ccl.soa.deploy.cmdb.doc/sdk/schema/com/collation/platform/model/topology/app/j2ee/weblogic/WebLogicJMSSessionPool.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:www-collation-com:1.0"
        xmlns="urn:www-collation-com:1.0"
        xmlns:coll="urn:www-collation-com:1.0"
        elementFormDefault="qualified" version="1.0">
  <xsd:include schemaLocation="../../../../../../../../com/collation/platform/model/topology/core/LogicalElement.xsd"/>
  <xsd:include schemaLocation="../../../../../../../../com/collation/platform/model/topology/app/j2ee/weblogic/WebLogicJMSServer.xsd"/>
  <xsd:complexType name="com.collation.platform.model.topology.app.j2ee.weblogic.WebLogicJMSSessionPool">
    <xsd:complexContent>
      <xsd:extension base="coll:com.collation.platform.model.topology.core.LogicalElement">
        <xsd:sequence>
          <xsd:element name="parent" type="coll:com.collation.platform.model.topology.app.j2ee.weblogic.WebLogicJMSServer" nillable="true" minOccurs="0"/>
          <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="acknowledgeMode" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="connectionFactory" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="listenerClass" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="sessionMaximum" type="xsd:int" nillable="true" minOccurs="0"/>
          <xsd:element name="transacted" type="xsd:boolean" nillable="true" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
