CMDBEditorExtension/plugins/com.ibm.ccl.soa.deploy.cmdb.doc/sdk/schema/com/collation/platform/model/topology/extattrib/UserData.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:www-collation-com:1.0"
        xmlns="urn:www-collation-com:1.0"
        xmlns:coll="urn:www-collation-com:1.0"
        elementFormDefault="qualified" version="1.0">
  <xsd:include schemaLocation="../../../../../../com/collation/platform/model/topology/core/LogicalElement.xsd"/>
  <xsd:include schemaLocation="../../../../../../com/collation/platform/model/topology/meta/UserDataMeta.xsd"/>
  <xsd:complexType name="com.collation.platform.model.topology.extattrib.UserData">
    <xsd:complexContent>
      <xsd:extension base="coll:com.collation.platform.model.topology.core.LogicalElement">
        <xsd:sequence>
          <xsd:element name="objGuid" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="objRef" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="metaRef" type="coll:com.collation.platform.model.topology.meta.UserDataMeta" nillable="true" minOccurs="0"/>
          <xsd:element name="category" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr1" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr2" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr3" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr4" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr5" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr6" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr7" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr8" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr9" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr10" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr11" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr12" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr13" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr14" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr15" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr16" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr17" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr18" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr19" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr20" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr21" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr22" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr23" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr24" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr25" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr26" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr27" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr28" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr29" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr30" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr31" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr32" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr33" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr34" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr35" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr36" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr37" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr38" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr39" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr40" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr41" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr42" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr43" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr44" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr45" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr46" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr47" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr48" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr49" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr50" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr51" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr52" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr53" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr54" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr55" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr56" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr57" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr58" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr59" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr60" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr61" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr62" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr63" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr64" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr65" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr66" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr67" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr68" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr69" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr70" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr71" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr72" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr73" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr74" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr75" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr76" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr77" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr78" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr79" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr80" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr81" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr82" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr83" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr84" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr85" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr86" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr87" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr88" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr89" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr90" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr91" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr92" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr93" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr94" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr95" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr96" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr97" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr98" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr99" type="xsd:string" nillable="true" minOccurs="0"/>
          <xsd:element name="userAttr100" type="xsd:string" nillable="true" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
