com.ibm.ccl.soa.deploy.j2ee/models/schemas/j2eeDomain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:base="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
	xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" 
	xmlns:j2ee="http://www.ibm.com/ccl/soa/deploy/j2ee/1.0.0/"  
	ecore:documentRoot="J2EEDeployRoot" 
	ecore:name="j2eeDeploy" 
	ecore:nsPrefix="j2eeDeploy" 
	ecore:package="com.ibm.ccl.soa.deploy.j2ee" 
	elementFormDefault="qualified" 
	targetNamespace="http://www.ibm.com/ccl/soa/deploy/j2ee/1.0.0/">

	<import namespace="http://www.ibm.com/ccl/soa/deploy/core/1.0.0/" 
		schemaLocation="../../../com.ibm.ccl.soa.deploy.core/models/schemas/base.xsd"/>
		 
	<!-- Container services -->
	<!-- Should we define separate container units? -->
	<element name="capability.j2eeContainer" substitutionGroup="base:capability" type="j2ee:J2EEContainer"/>
	<complexType name="J2EEContainer">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="containerVersion" type="j2ee:J2EEContainerVersion"/>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="J2EEContainerVersion">
		<restriction base="string">
			<enumeration value="1.2">
				<annotation>
					<documentation>J2EE 1.2</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1.3">
				<annotation>
					<documentation>J2EE 1.3</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1.4">
				<annotation>
					<documentation>J2EE 1.4</documentation>
				</annotation>
			</enumeration>
			<enumeration value="5.0">
				<annotation>
					<documentation>Java EE 5.0</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<element name="capability.servletContainer" substitutionGroup="base:capability" type="j2ee:ServletContainer"/>
	<complexType name="ServletContainer">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="containerVersion" type="j2ee:ServletContainerVersion" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="ServletContainerVersion">
		<restriction base="string">
			<enumeration value="2.2">
				<annotation>
					<documentation>J2EE 1.2</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2.3">
				<annotation>
					<documentation>J2EE 1.3</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2.4">
				<annotation>
					<documentation>J2EE 1.4</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2.5">
				<annotation>
					<documentation>J2EE 5.0</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<element name="capability.jspContainer" substitutionGroup="base:capability" type="j2ee:JSPContainer"/>
	<complexType name="JSPContainer">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="containerVersion" type="j2ee:JSPContainerVersion" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="JSPContainerVersion">
		<restriction base="string">
			<enumeration value="1.1">
				<annotation>
					<documentation>J2EE 1.2</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1.2">
				<annotation>
					<documentation>J2EE 1.3</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2.0">
				<annotation>
					<documentation>J2EE 1.4</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2.1">
				<annotation>
					<documentation>J2EE 5.0</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<element name="capability.ejbContainer" substitutionGroup="base:capability" type="j2ee:EJBContainer"/>
	<complexType name="EJBContainer">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="containerVersion" type="j2ee:EJBContainerVersion" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="EJBContainerVersion" ecore:type="EDataType">
		<restriction base="string">
			<enumeration value="1.1">
				<annotation>
					<documentation>J2EE 1.2</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2.0">
				<annotation>
					<documentation>J2EE 1.3</documentation>
				</annotation>
			</enumeration>
			<enumeration value="2.1">
				<annotation>
					<documentation>J2EE 1.4</documentation>
				</annotation>
			</enumeration>
			<enumeration value="3.0">
				<annotation>
					<documentation>J2EE 5.0</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<element name="capability.ejb" substitutionGroup="base:capability" type="j2ee:EJB"/>
	<complexType name="EJB">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="interface" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="capability.j2eeResourceRequirement" substitutionGroup="base:capability" type="j2ee:J2EEResourceRequirement"/>
	<complexType name="J2EEResourceRequirement">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="type" type="string" use="required"/>
				<attribute name="jndiName" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>

	<element name="capability.j2eeResourceEnvironmentRequirement" substitutionGroup="base:capability" type="j2ee:J2EEResourceEnvironmentRequirement"/>
	<complexType name="J2EEResourceEnvironmentRequirement">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="type" type="string" use="required"/>
				<attribute name="jndiName" type="string" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="capability.j2eeSecurityRole" substitutionGroup="base:capability" type="j2ee:J2EESecurityRole"/>
	<complexType name="J2EESecurityRole">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="role" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>

	<element name="capability.jcaContainer" substitutionGroup="base:capability" type="j2ee:JCAContainer"/>
	<complexType name="JCAContainer">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="containerVersion" type="j2ee:JCAContainerVersion" use="required"/>
			</extension>
		</complexContent>
	</complexType>
	
	<!-- TODO:  Update with actual versions. -->
	<simpleType name="JCAContainerVersion">
		<restriction base="string">
			<enumeration value="1.0">
				<annotation>
					<documentation>J2EE 1.3</documentation>
				</annotation>
			</enumeration>
			<enumeration value="1.5">
				<annotation>
					<documentation>J2EE 1.4</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	
	<!-- This service is for units to declare they require a J2EE server, will be extended by WasServerService, etc. -->
	<element name="capability.j2eeServer" substitutionGroup="base:capability" type="j2ee:J2EEServer"/>
	<complexType name="J2EEServer">
		<complexContent>
			<extension base="base:Capability">
			</extension>
		</complexContent>
	</complexType>
	
	<element name="unit.j2eeServerUnit" substitutionGroup="base:unit" type="j2ee:J2EEServerUnit"/>
	<complexType name="J2EEServerUnit">
		<complexContent>
			<extension base="base:Unit">
			</extension>
		</complexContent>
	</complexType>				
		
		
	<element name="capability.j2eeDatasource" substitutionGroup="base:capability" type="j2ee:J2EEDatasource"/>
	<complexType name="J2EEDatasource">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="jndiName" type="string" use="required"/>
				<attribute name="datasourceName" type="string" use="required"/>
				<!-- Making these optional for requirement usage, 
					 validators may still need to check they are set for capability usage -->
				<attribute name="dbName" type="string" use="optional"/>
				<attribute name="hostname" type="string" use="optional"/>
				<attribute name="port" type="integer" use="optional"/>
				<attribute name="username" type="string" use="optional"/>
				<attribute name="password" type="string" use="optional"/>
				<attribute name="usedForCmp" type="boolean" use="optional"/>
			</extension>
		</complexContent>
	</complexType>

	<!-- Module types -->
	
	<element name="capability.j2eeModule" substitutionGroup="base:capability" type="j2ee:J2EEModuleCapability"/>
	<complexType name="J2EEModuleCapability">
		<complexContent>
			<extension base="base:BundleCapability">
				<attribute name="moduleName" type="string"
					use="required" />
			</extension>
		</complexContent>
	</complexType>

	<!-- EAR Module Defintion -->	<element name="component.ear"  substitutionGroup="base:unit" type="j2ee:EarModule"></element>
	<complexType name="EarModule">
		<complexContent>
			<extension base="base:SoftwareComponent" />
		</complexContent>
	</complexType>

	<element name="capability.earModule" substitutionGroup="base:capability" type="j2ee:EARModuleCapability"/>
	<complexType name="EARModuleCapability">
		<complexContent>
			<extension base="j2ee:J2EEModuleCapability"/>
		</complexContent>
	</complexType>	

	<!-- EJB Module Defintion -->
	<element name="component.ejb"  substitutionGroup="base:unit" type="j2ee:EjbModule"></element>
    <complexType name="EjbModule">
    	<complexContent>
    		<extension base="base:SoftwareComponent" />
    	</complexContent>
    </complexType>

    <element name="capability.ejbModule" substitutionGroup="base:capability" type="j2ee:EJBModuleCapability"/>
	<complexType name="EJBModuleCapability">
		<complexContent>
			<extension base="j2ee:J2EEModuleCapability"/>
		</complexContent>
	</complexType>	
	
	<!-- Web Module Defintion -->
	<element name="component.web" substitutionGroup="base:unit" type="j2ee:WebModule"/>
	<complexType name="WebModule">
		<complexContent>
			<extension base="base:SoftwareComponent"/>
		</complexContent>
	</complexType>
		
	<element name="capability.webModule" substitutionGroup="base:capability" type="j2ee:WebModuleCapability"/>
	<complexType name="WebModuleCapability">
		<complexContent>
			<extension base="j2ee:J2EEModuleCapability">
				<attribute name="contextRoot" type="string" use="required" />
			</extension>
		</complexContent>
	</complexType>	

	
	<!-- Connector Module Defintion -->
	<element name="unit.jcaModule" substitutionGroup="base:unit" type="j2ee:JCAModule"/>
	<complexType name="JCAModule">
		<complexContent>
			<extension base="base:Unit"/>
		</complexContent>
	</complexType>
		
	<element name="capability.jcaModule" substitutionGroup="base:capability" type="j2ee:JCAModuleCapability"/>
	<complexType name="JCAModuleCapability">
		<complexContent>
			<extension base="j2ee:J2EEModuleCapability"/>
		</complexContent>
	</complexType>
	
	<!-- Utility Jar Module Definition -->
    <element name="component.jar" substitutionGroup="base:unit" type="j2ee:JarModule"></element>
    <complexType name="JarModule">
    	<complexContent>
    		<extension base="base:SoftwareComponent"></extension>
    	</complexContent>
    </complexType>
    
	<element name="capability.jarModule" substitutionGroup="base:capability" type="j2ee:JarModuleCapability"/>
	<complexType name="JarModuleCapability">
		<complexContent>
			<extension base="j2ee:J2EEModuleCapability"/>
		</complexContent>
	</complexType>	
	
	<!-- Application Client Defintion -->
	<element name="unit.appClient" substitutionGroup="base:unit" type="j2ee:AppClient"/>
	<complexType name="AppClient">
		<complexContent>
			<extension base="base:Unit"/>
		</complexContent>
	</complexType>
	
	<element name="capability.appClientModule" substitutionGroup="base:capability" type="j2ee:AppClientModule"/>
	<complexType name="AppClientModule">
		<complexContent>
			<extension base="j2ee:J2EEModuleCapability"/>
		</complexContent>
	</complexType>	
	
	<!-- server types -->
	<element name="unit.webServer" substitutionGroup="base:unit" type="j2ee:GenericWebServer"/>
	<complexType name="GenericWebServer">
		<complexContent>
			<extension base="base:Unit"/>
		</complexContent>
	</complexType>

	<element name="unit.j2eeServer" substitutionGroup="base:unit" type="j2ee:GenericJ2eeServer"/>
	<complexType name="GenericJ2eeServer">
		<complexContent>
			<extension base="j2ee:GenericWebServer" />
		</complexContent>
	</complexType>

	<!--  configuration units -->

	<!-- J2C Authentication -->
	<complexType name="J2CAuthenticationUnit" abstract="true">
		<complexContent>
			<extension base="base:Unit" />
		</complexContent>
	</complexType>
	
	<complexType name="J2CAuthenticationDataEntry">
		<complexContent>
			<extension base="base:Capability">
				<attribute name="alias" type="string" use="required" />
				<attribute name="userId" type="string" use="optional" />
				<attribute name="password" type="string" use="optional" />
			</extension>
		</complexContent>
	</complexType>	
	
	<!--  Services -->
		
	<element name="service.servlet" substitutionGroup="base:capability" type="j2ee:URLService"/>
	<complexType name="URLService">
		<annotation>
			<documentation>
			The URLService models a service accessible by a URL address with 
			HTTP GET or HTTP POST commands. For J2EE, this is primarily a 
			Java Servlet. The URLService has a simple interface 
			(j2ee:URLInterface) which captures the list of parameters 
			that the URL Service understands. The URLService provides 0..* 
			urlPatterns which define relative web addresses where the URLService
			may be accessed. For Java EE Servlets, these patterns translate to 
			the Servlet Mapping that indicates 0..* specific addresses for a 
			given Servlet.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="base:Service"> 
				<sequence>
					<element name="urlPattern" minOccurs="0" maxOccurs="unbounded" type="string" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>	
		
	<element name="service.ws" substitutionGroup="base:capability" type="j2ee:WebService"/>
	<complexType name="WebService">
		<complexContent>
			<extension base="base:Service"> 
				<attribute name="endpoint" type="xs:anyURI"/>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="service.entity" substitutionGroup="base:capability" type="j2ee:EntityService"></element>
	<complexType name="EntityService">
		<complexContent>
			<extension base="j2ee:EnterpriseBeanService">				<attribute name="managed" type="boolean"
					use="required">
					<annotation>
						<documentation>
							A value of "true" would indicate that the
							bean is intended to be managed by the
							container in which it run in ( CMP ). A
							value of false would indicate that the bean
							will manage it's own datasource connection
							logic. ( BMP )
						</documentation>
					</annotation>
				</attribute>			</extension>
		</complexContent>
	</complexType>

	<element name="service.session" substitutionGroup="base:capability" type="j2ee:SessionService"></element>
	<complexType name="SessionService">
		<complexContent>
			<extension base="j2ee:EnterpriseBeanService">			</extension>
		</complexContent>
	</complexType>

	<!--  Interfaces -->
	
	<element name="interface.java" substitutionGroup="base:interface" type="j2ee:JavaInterface"/>
	<complexType name="JavaInterface">
		<complexContent>
			<extension base="base:Interface"> 
				<attribute name="interface" type="string">
					<annotation>
						<documentation>Specifies the fully qualified type name of a Java Interface.</documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	
	<element name="interface.url" substitutionGroup="base:interface" type="j2ee:URLInterface"/>
	<complexType name="URLInterface">
		<complexContent>
			<extension base="base:Interface"> 
				<sequence>
					<xs:element name="paramName" minOccurs="0" maxOccurs="unbounded" type="string">						
						<annotation>
							<documentation>Indicates the name of a URL Request Parameter.</documentation>
						</annotation>
					</xs:element>
				</sequence> 
			</extension>
		</complexContent>
	</complexType>
	 
	<element name="interface.wsdl" substitutionGroup="base:interface" type="j2ee:WSDLInterface"/>
	<complexType name="WSDLInterface">
		<complexContent>
			<extension base="base:Interface"> 
				<xs:attribute name="typeUri" type="xs:anyURI">						
					<annotation>
						<documentation>Indicates the WSDL 1.1 Port Type or WSDL 2.0 interface.</documentation>
					</annotation>
				</xs:attribute>
			</extension>
		</complexContent>
	</complexType>
	
	<simpleType name="Vicinity">
		<restriction base="string">
			<enumeration value="local"></enumeration>
			<enumeration value="remote"></enumeration>
		</restriction>
	</simpleType>


	<complexType name="EnterpriseBeanService">
		<complexContent>
			<extension base="base:Service">
				<sequence>
					<element name="homeInterface"
						type="j2ee:JavaInterface" minOccurs="0" maxOccurs="1">
					</element>
				</sequence>
				<attribute name="ejbName" type="string"></attribute>
				<attribute name="vicinity" type="j2ee:Vicinity"></attribute>
				<attribute name="jndiName" type="string"></attribute>
			</extension>
		</complexContent>
	</complexType>
</schema>
